<html>

<head>

    <meta charset="UTF-8">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>

    <!-- Angular Material -->
    <link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.4/angular-material.css">
    <link rel="stylesheet" type="text/css" href="https://material.angularjs.org/1.1.4/docs.css">
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.4/angular-material.js"></script>

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Angular Chart JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

    <!--PROPIOS-->
    <link href="loginCss.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="loginJavaScript.js"></script>

</head>

<body id="principal" ng-app="MyApp" class="cuerpo">
    <div ng-controller="AppCtrl1 as ctrl1" ng-cloak layout="column" layout-column style="height: 100%">

        <md-toolbar id="banner" class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button href="#!main" class="md-button" aria-label="Oxxo" style="height: 40px; width: 80px;" ng-click="ctrl1.showme = false;">
                    <img src="img/oxxo1.png" class="logo">
                </md-button>
                <h2 flex md-truncate>Login - ECC-OXXO</h2>
            </div>
        </md-toolbar>
        <div layout="row" layout-align="center center">
            <md-card class="panel">
                <div layout="column" layout-align="center center">
                    <md-content class="contenedor-cont">
                        <div layout="column" layout-align="center center" class="banner-panel">
                            <md-icon class="myicon md-light ">account_circle</md-icon>

                        </div>
                        <div layout="row" style="width: 100%;" layout-align="center center" class="qDiv">
                            <md-input-container flex="75">
                                <label>Usuario</label>
                                <input ng-model="getUser">
                            </md-input-container>
                        </div>
                        <div layout="row" style="width: 100%;" layout-align="center center" class="qDiv">
                            <md-input-container flex="75">
                                <label>Contraseña</label>
                                <input type="password" ng-model="getPass">
                            </md-input-container>
                        </div>
                        <div layout="row" style="width: 100%;" layout-align="center center" class="subBtnD">
                            <md-button class="subBtn" type="submit">Iniciar esión</md-button>
                        </div>
                    </md-content>

                </div>

            </md-card>
        </div>

</body>

</html>